<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="fiddler4" />
	<package id="uTorrent" />
	<package id="avgantivirusfree" />
	<!--<package id="VisualStudio2013Ultimate" PackageParameters="WebTools SQL"/>-->
	<package id="GoogleChrome" />
	<!--<package id="WebStorm" />-->
	<package id="vlc" />
	<package id="teamviewer" />
	<package id="TotalCommander" />
	<!--<package id="doublecmd" />-->
	<!--<package id="Far" />-->
	<!--<package id="aimp" />-->
	<!--<package id="xbmc" />-->
	<package id="skype" />
	<package id="notepadplusplus" />
	<!--<package id="Console2" />-->
	<!--<package id="sysinternals" />-->
	<package id="webpi" />
	<!--<package id="FoxitReader" />-->
	<package id="tortoisehg" />
	<!--<package id="ilspy" />-->
	<!--<package id="yumi" />-->
	<!--<package id="git.commandline" />-->
	<!--<package id="typescript" />-->
	<package id="linqpad4" />
	<!--<package id="GitHub" />-->
	<!--<package id="f.lux" />-->
	<package id="webpicommandline" />
	<!--<package id="IISExpress" source="webpi" />-->
	<!--<package id="IISExpress8RC" source="webpi" />-->
	<!--<package id="IISManagementConsole" source="webpi" />-->
	<package id="SQLManagementStudio" source="webpi" />
	<!--<package id="WindowsAzureSDK_2_0" source="webpi" />-->
	<!--<package id="WindowsAzureLibrariesNET_2_0" source="webpi" />-->
	<!--<package id="VWDOrVs11AzurePack.2.2" source="webpi" />-->
	<!--<package id="TelnetClient" source="windowsfeatures" />-->
	<!--<package id="Microsoft-Hyper-V-All" source="windowsFeatures" />-->
	<!--<package id="IIS-WebServerRole" source="windowsfeatures" />-->
	<!--<package id="IIS-HttpCompressionDynamic" source="windowsfeatures" />-->
</packages>
