<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="fiddler4" />
	<package id="uTorrent" />
	<package id="avgantivirusfree" />
	<package id="VisualStudio2013Ultimate" />
	<package id="GoogleChrome" />
	<package id="WebStorm" />
	<package id="vlc" />
	<package id="teamviewer" />
	<package id="TotalCommander" />
	<package id="doublecmd" />
	<package id="Far" />
	<package id="aimp" />
	<package id="xbmc" />
	<package id="skype" />
	<package id="notepadplusplus" />
	<package id="Console2" />
	<package id="sysinternals" />
	<package id="webpi" />
	<package id="FoxitReader" />
	<package id="tortoisehg" />
	<package id="ilspy" />
	<package id="yumi" />
	<package id="git.commandline" />
	<package id="typescript" />
	<package id="linqpad4" />
	<package id="GitHub" />
	<package id="f.lux" />
	<package id="webpicommandline" />
	<package id="IISExpress" source="webpi" />
	<package id="TelnetClient" source="windowsfeatures" />
	<package id="Microsoft-Hyper-V-All" source="windowsFeatures" />
	<package id="IIS-WebServerRole" source="windowsfeatures" />
</packages>
